{% extends 'base.html.twig' %}

{% block title %}Plato index{% endblock %}

{% block body %}
    <h1>Plato index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>UrlImg</th>
                <th>Origen</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plato in platos %}
            <tr>
                <td>{{ plato.id }}</td>
                <td>{{ plato.nombre }}</td>
                <td>{{ plato.urlImg }}</td>
                <td>{{ plato.origen }}</td>
                <td>{{ plato.precio }}</td>
                <td>
                    <a href="{{ path('app_plato_show', {'id': plato.id}) }}">show</a>
                    <a href="{{ path('app_plato_edit', {'id': plato.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plato_new') }}">Create new</a>
{% endblock %}
