{% extends 'base.html.twig' %}

{% block title %}Plato{% endblock %}

{% block body %}
    <h1>Plato</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plato.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plato.nombre }}</td>
            </tr>
            <tr>
                <th>UrlImg</th>
                <td>{{ plato.urlImg }}</td>
            </tr>
            <tr>
                <th>Origen</th>
                <td>{{ plato.origen }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ plato.precio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plato_index') }}">back to list</a>

    <a href="{{ path('app_plato_edit', {'id': plato.id}) }}">edit</a>

    {{ include('plato/_delete_form.html.twig') }}
{% endblock %}
